* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
a{
  color: var(--accentColor);
  transition: 0.4s;
}
a:hover{
  color: var(--blackColor);
}

body {
  --accentColor: #6361d4;
  --blackColor: #1C1C34;
  --whiteColor: #fcfcff;
  font-family: 'Rubik', sans-serif;
  color: var(--blackColor);
}
.scroll_none{
  overflow: hidden;
}
.scroll_none nav,.scroll_none header .container, .load-box{
  opacity: 0;
}
body::-webkit-scrollbar{
  width: 6px;
  background-color: var(--whiteColor);
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(100deg, var(--accentColor), var(--blackColor));
  background-size: 160%;
  animation: headerBg 7s infinite linear reverse;
  border-radius: 6px;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 32px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: var(--whiteColor);
  box-shadow: 0 0 16px var(--accentColor);
  border-radius: 0 0 16px 16px;
  padding: 8px 0;
  z-index: 15;
  transition: 0.4s;
}

.nav__elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--accentColor);

}
.nav__progress{
  font-weight: 700;
}
.nav__progress span{
  font-size: 20px;
  color: var(--accentColor);
}

.nav__icons {
  display: flex;
  gap: 20px;
}

.nav__icons a {
  font-size: 20px;
  transition: 0.4s;
}

.telegram-link {
  color: #3d3dff;
}

.whatsapp-link {
  color: #00a700;
}

header {
  height: 100vh;
  background: linear-gradient(100deg, var(--accentColor), var(--blackColor));
  background-size: 160%;
  animation: headerBg 7s infinite linear alternate-reverse;
  position: relative;
}

@keyframes headerBg {
  0% {
    background-position: bottom left;
  }

  100% {
    background-position: top right;
  }
}

.bg-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.bg-box__item {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(1px 1px at 10px 20px, #eee, rgba(0, 0, 0, 0)),radial-gradient(1px 1px at 40px 70px, #fff, rgba(0, 0, 0, 0)),radial-gradient(1px 1px at 90px 40px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 150px 150px;
  opacity: 0;
  animation: space 10s infinite linear;
}
.bg-box__item:nth-child(1){
  background-position: 50% -40%;
  animation-delay: 0s;
}
.bg-box__item:nth-child(2){
  background-position: -50% 40%;
  animation-delay: 1s;
}
.bg-box__item:nth-child(3){
  background-position: 20% 30%;
  animation-delay: 2s;
}
.bg-box__item:nth-child(4){
  background-position: -80% -40%;
  animation-delay: 3s;
}
.bg-box__item:nth-child(5){
  background-position: 100% -10%;
  animation-delay: 4s;
}

@keyframes space {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  80% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.37);
  }
}

header .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--whiteColor);
  gap: 20px;
  transition: 1s;
}

h1 {

  font-size: 100px;
  line-height: 100%;
}

header p {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
}

header a {
  display: inline-block;
  background-color: var(--whiteColor);
  color: var(--accentColor);
  padding: 16px 48px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  transform-style: preserve-3d;
  perspective: 100px;
  box-shadow: 0 0 32px #fcfcff76;
  position: relative;
  z-index: 10;
}

main{
  padding: 60px 0;
}
main .container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lessons__block{
  padding: 40px 20px;
  box-shadow: 0 0 60px #8a89f538;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
h2{
  font-size: 36px;
  line-height: 100%;
}
.lessons__list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.lessons__item{
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid var(--accentColor);
  padding: 8px 8px 16px 8px;
  border-radius: 8px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  align-items: flex-start;
}
.lessons__item:hover{
  background-color: #6361d415;
}
.lessons__name{
  display: flex;
  gap: 10px;
  align-items: center;
}
.fa-flag{
  color: #6361d4;
  opacity: 15%;
  cursor: pointer;
  display: block;
  border: 1px solid #6361d4;
  padding: 8px;
  border-radius: 6px;
  transition: 0.4s;
}
.fa-flag:hover{
  opacity: 50%;
}
h3{
  font-size: 20px;
  line-height: 100%;
}

iframe{
  width: 100%;
  max-width: 600px;
  /* height: calc(100vw /3.5);
  max-height: 340px;
  min-height: calc(100vw / 2.5); */
  height: auto;
  min-height: 340px;
  border-radius: 6px;
  outline: none;
  border: none;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
}

._sample{
  position: relative;
  display: inline-block;
  color: var(--accentColor);
  transition: 0.4s;
}
._sample::after{
  content: url(../img/link-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translate(100%, 0) scale(50%);
  transition: 0.4s;
}
._sample:hover{
  color: #1C1C34;
}
._sample:hover::after{
  transform: translate(120%, -20%) scale(70%);
}

footer{
  background-color: var(--blackColor);
  color: var(--whiteColor);
  padding: 20px 0;
  border-radius: 16px 16px 0 0;
  text-align: center;
  font-size: 10px;
  line-height: 150%;
}

/*  */

._marked{
  opacity: 100%;
  color: #c40202;
}
._marked:hover{
  opacity: 100%;
}

.load-box{
  opacity: 0;
  transition: 0.4s;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 460px;
  z-index: 20;
}
.scroll_none .load-box{
  opacity: 1;
}
.load-box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--whiteColor);
  display: block;
  border-radius: 10px;
  transition: 0.2s;
  background: linear-gradient(90deg, var(--accentColor), var(--whiteColor), var(--accentColor));
  background-size: 200px;
  animation: loadSpan 3s infinite linear;
}
@keyframes loadSpan{
  0%{
    background-position: top 0 left 0%;
  }
  100%{
    background-position: top 0 left 200%;
  }
}
.load-box h3{
  color: var(--whiteColor);
  font-size: 32px;
  transform: translateY(20px);
}